@charset "utf-8";
/* CSS Document */
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700,400italic");
body{background:#cccccc;font-family: 'Roboto Condensed', sans-serif; font-weight:400;}
.themebg{ background:#fff; padding:0px; position:relative; min-height:900px;}
.header{ height:56px; border-bottom:1px solid #e9e8eb;}
.logo{ /*padding:12px;*/}
.login{ padding-right: 10px;padding-top:13px;}
}
ul.accordianmenu{margin:0px; padding:0px;}
ul.accordianmenu li{ list-style:none; margin-bottom:1px;}
.acoordian-head{ background:#f2f2f2; min-height:32px; padding:12px; line-height:32px; color:#5c5c5c;font-size:20px;}
.acoordian-head.active{ background:#4c555d !important;color:#fff!important;}
.acoordian-head.active a{color:#fff; padding:5px; text-decoration:none;}
.acoordian-head span{ padding-left:10px;}
.contentholder{ color:#5c5c5c;}
ul.accordion_pane-menu{margin:0px; padding:0px;}
ul.accordion_pane-menu li{list-style:none; border-bottom:1px solid #f2f2f2; overflow:hidden;}
ul.accordion_pane-menu li a{ display:block; padding:20px; color:#D92C37; font-size:16px; font-weight:bold; padding-left:50px; padding-right:50px; }
ul.accordion_pane-menu li a span{ font-weight:normal; color:#5c5c5c; font-size:14px;}
ul.accordion_pane-menu li a:hover{ background:#f5fafd; text-decoration:none;}
.subhead{ font-size:16px; border-bottom:1px solid #e9e8eb; padding-bottom:10px;}
.graybg{ background:#f2f2f2;}
nav {
    width: 100%;
    background: #f2f2f2;
    border-bottom: 1px solid #dadada;
    border-right: none;
}

nav ul {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style: none;
    float: left;
    text-align: center;
    width: 16.6667%; /* fallback for non-calc() browsers */
    width: calc(100% / 7);
    box-sizing: border-box;
	font-size:100%;
	font-weight:700; padding:10px;
}

nav ul li:first-child {
    border-left: none;
}

nav ul li a {
    display: inline;
    text-decoration: none;
    color: #616161;
    padding: 10px 0;
	
}
nav ul li a:hover {
    display: block;
    text-decoration: none;
    color: #D92C37;
    padding: 10px 0;
	background:#e9e8eb; border-radius:4px;
	
}
.scrolldiv{ max-height:400px; overflow:scroll;overflow-x: hidden; }
ul.timewrap{ margin:0px; padding:0px;}
ul.timewrap li{list-style:none; position:relative; padding:10px;border-bottom:1px solid #f2f2f2;}
ul.timewrap li:hover{ background:#f5fafd;}
ul.timewrap li a{ display:block; text-align:center; color:#5c5c5c;  font-weight:700; padding:10px;}
ul.timewrap li a:hover{text-decoration:none;}
ul.timewrap li a span{ text-transform:uppercase; font-size:12px; color:#9b9b9b; position:absolute; right:10px;}
ul.timewrap li a span i{ color:#5cb85c;}
.btnconfirm{width:90% !important; margin:0px auto; color:#FFFFFF !important;}
.inputtxt{ border:1px solid #ccc; border-radius:2px; padding:6px 8px; background:none; box-shadow:none;}
.inputselect{ border:1px solid #ccc; border-radius:2px; background:#f2f2f2; box-shadow:none;}
.right-layout{ width:255px; height:100%; position:fixed; left:550px; top:0px; background:#eff0f2;}
#map {
  height: 130px;
}
ul.listrow{margin:0px; padding:0px;}
ul.listrow li{margin:0px; padding:6px 12px; border-bottom:1px solid #e8e8e8; background:#fff; font-size:14px; font-weight:700; list-style:none; line-height:40px;}
.pricevalue{ background:#fff; font-size:14px; font-weight:700; padding-top:20px; padding-bottom:20px; margin:2px; position:fixed; bottom:0px; display:block; width:251px;}
hr.totalsep{margin:12px 0px; padding:0px;}
a.btncheckout { background:#D92C37; color:#fff; width:224px; display:block; font-size:20px; height:50px; border-radius:4px; margin:12px auto 0px; line-height:50px; padding-left:15px;}
a.btncheckout span{ float:right; padding:0px 15px;  color:#fff; background:#c30303;; border-radius:0px 4px 4px 0px}
a.btncheckout:hover{ text-decoration:none;}




.reqText{
    border-color: rgb(102, 175, 233) !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6)!important;
    outline: 0 none!important;
}



/*--------- CSS MENU-----------*/
#menulist,
#menulist ul,
#menulist li,
#menulist a {
  margin: 0;
  padding:0px;
  border: 0;
  list-style: none;
  font-weight: normal;
  text-decoration: none;
  line-height: 1;  
  font-size: 14px;
  position: relative;
}
#menulist {
  width: 100%; 
  padding-left: 16px;
}
#menulist a {
  line-height: 1.3;
}
#menulist > ul > li {
   border-bottom:1px solid #dddddd;
}
#menulist > ul > li h5{ font-weight:700; margin:0px; padding-bottom:9px; font-size:16px;}
.txtprice{ font-size:16px;font-weight:700;}
#menulist > ul > li:hover {
  border-bottom:1px solid #dddddd;
}
#menulist > ul > li > a {
  font-size: 18px;
  display: block;  
  color: #333;
  font-weight:400;  
}
#menulist > ul > li > a > span {
  display: block;
  padding: 12px 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#menulist > ul > li > a:hover {
  text-decoration: none;
}

#menulist > ul > li.has-sub > a span {
  background: url(../images/icon_plus.png) 96% center no-repeat;
}
#menulist > ul > li.has-sub.active > a span {
  background: url(../images/icon_minus.png) 96% center no-repeat;
}
/* Sub menu */
#menulist ul ul {
  /*display: none;*/
  background: #fff;  
}
#menulist ul ul li {
  padding: 0;
  margin:0px;
 
}
#menulist ul ul li:last-child {
  border-bottom: none;
}
#menulist ul ul a {
  padding: 2px 20px 6px 0px;
  display: block;
  color: #676767;
  font-size: 14px;
  font-weight: normal;
}

.menu-itemlist{
 color: #D92C37;
}
.colorred a{
 color: #D92C37;
}
.errorred{
 color: #D92C37;
}
.fa-shopping-cart{
 color: #D92C37;

}

.colorblack{
 color: #333355;
}
#menulist ul ul a:hover {
  color: #D92C37;
}
.btngreen{/* position:fixed;*/ bottom:20px; /*max-width:480px;*/}
/*--------- END CSS MENU-----------*/
.navlink{ color: #DE2C37;}
a.navlink{ height:50px; font-size:18px;}
a.navlink i {font-size:22px; }
a.navlink:hover{text-decoration:none;}
h1{ font-size:30px; font-weight:200;}
h1 span{float:right; font-size:24px; font-weight:600;}
.ckeckoutvalue{display:none;}
ul.sizeul{ margin:0px; padding:0px;}
ul.sizeul li{ margin:0px; padding:0px; list-style:none; padding:4px 0px; font-size:18px; font-weight:600}
ul.sizeul li a{ border:1px solid #d2d2d2; border-radius:2px; padding:10px 12px; display:block; height:50px; line-height:30px;}
ul.sizeul li a span{ float:right; border-left:1px solid #cccccc; padding:6px 15px; min-width:80px; height:30px; line-height:20px !important;}
ul.sizeul li a:hover{text-decoration:none; border:1px solid #9acced; background:#ebf5fb;}
ul.sizeul li a span:hover {border-left:1px solid #9acced;}

ul.addons{margin:0px; padding:0px;}
ul.addons li{margin:0px; /*padding:0px; */list-style:none;}
.pd0{padding:0px;}
.pdl0{padding-left:0px;}

ul.tipul{ margin:0px; padding:0px;}
ul.tipul li{ margin:6px; padding:0px; list-style:none; padding:4px 0px; font-size:16px; font-weight:600; float:left; width:50px;}
ul.tipul li:last-child{width:auto;}
ul.tipul li a{ border:1px solid #cccccc; border-radius:2px; padding:4px 12px; display:block; background:#e9e9e9;}
ul.tipul li a:hover{ border:1px solid #9acced; border-radius:2px; background:#ebf5fb; text-decoration:none }

ul.order-summery{ margin:0px; padding:0px;}
ul.order-summery li{ list-style:none; margin:0px; padding:6px 0px; border-bottom:1px solid #e8e8e8; font-size:16px;}
ul.order-summery li:last-child{ font-weight:400; font-size:20px; border:none;}
ul.order-summery span{  float:right;}
a.btnorder { background:#D92C37; border:1px solid #2f89c5; color:#fff; border-radius:4px; margin:10px 0px; font-weight:600; font-size:20px; padding:10px 0px;}
.btnorder:hover{background:#2f89c5;color:#fff; border:1px solid #2f89c5;}
.custompanel{ border-radius:0px; border:1px solid #e9e8eb; box-shadow:none; margin:20px 0px;}
.custompanel > .panel-heading{ background:#f5f7f9; border-radius:0px; font-size:18px;}
.btnactive{ background:#D92C37; border:1px solid #2f89c5; color:#fff; font-weight:600;}
.btnactive.focus, .btnactive:focus, .btnactive:hover{background:#D92C37; border:1px solid #2f89c5; color:#fff;}
.btnnormal{ background:#f2f2f2; border:1px solid #cccccc; color:#5c5c5c; font-weight:600;}
.btnnormal.focus, .btnnormal:focus, .btnnormal:hover{background:#f2f2f2; border:1px solid #cccccc; color:#5c5c5c;}
.menulistwrap{ background:#eff0f2; padding:12px 10px;}
.menulistwrap a{color:#5c5c5c;}
.menulistwrap a:hover{text-decoration:none;}
.menulistwrap h6{ font-weight:400; font-size:18px; margin:0px 0px 5px; padding:0px;}
.menulistwrap p{ padding:0px; margin:0px; padding-top:4px; font-size:14px;}
.menulistwrap p span{font-size:13px; font-weight:400; font-style:italic;}
ul.menulist{ margin:0px; padding:0px; }
ul.menulist li{ font-size:14px; list-style:none;}
ul.menulist li span{ float:right; font-weight:600;}

ul.menusub{ margin:0px; padding:0px; }
ul.menusub li{ list-style:none; font-size:13px;}
ul.menusub li span{ float:right;}
.modal {
    font-family: "Roboto",sans-serif;
    left: 50%;
    max-height: 100%;
    max-width: 700px;
    overflow-y: auto;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 10;
}
@media (max-width:800px){
	.ckeckoutvalue{display:inline; text-align:center; font-weight:600; font-size:20px; line-height:50px;}
	.ckeckoutvalue a:hover {text-decoration:none;}
	.right-layout{ display:none;}
	
	
}
@media (min-width:800px){
.themebg{max-width:550px; height:100%;}
}
@media screen and (min-width:320px)and (max-width:767px){

.login{line-height:56px; padding-right: 10px;padding-top:0;}
.quantity {  width: 100%;}
}



.btn-primary {
    background-color:#DE2C37;
    border-color: #DE2C37;
    color: rgb(255, 255, 255);
}
.btn-primary:hover {
    background-color:#DE2C37;
    border-color:#DE2C37;
    color: rgb(255, 255, 255);
}
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary.focus:active, .btn-primary:active:focus, .btn-primary:active:hover, .open > .dropdown-toggle.btn-primary.focus, .open > .dropdown-toggle.btn-primary:focus, .open > .dropdown-toggle.btn-primary:hover {
    background-color: #DE2C37;
    border-color: #DE2C37;
    color: rgb(255, 255, 255);
}
.btn-primary.focus, .btn-primary:focus {
    background-color: #DE2C37;
    border-color: #DE2C37;
    color: rgb(255, 255, 255);
}

*:after, *:before {
    box-sizing: border-box;
}
*:after, *:before {
    box-sizing: border-box;
}
*:after, *:before {
    box-sizing: border-box;
}

.btn-success,.btn-success:hover,.btn-success.active.focus, .btn-success.active:focus, .btn-success.active:hover, .btn-success.focus:active, .btn-success:active:focus, .btn-success:active:hover, .open > .dropdown-toggle.btn-success.focus, .open > .dropdown-toggle.btn-success:focus, .open > .dropdown-toggle.btn-success:hover {
    background-color: #1F3749;
    border-color:#1F3749;
    color: rgb(255, 255, 255);
}
.btn-block {
    display: block;
    font-size: 20px;
    height: 48px;
    text-align: center;
}
.quantity {
    border: 1px solid rgb(204, 204, 204);
    border-radius: 2px;
    overflow: hidden;
    position: relative;
}.quantity .btn {
    border: 1px solid rgb(204, 204, 204);
    border-radius: 0;
    box-shadow: none;
   /* margin-top: -1px;*/
   /* padding: 9px 7px;*/
    top: 0;
}
.checkbox{
color:rgb(51, 51, 51);
}