
<div class="col-lg-6 themebg">
    <!-- HEADER -->
    <div class="header">
        <div class="col-md-5 col-sm-4 col-xs-4 logo">
        <a href="http://www.forkourse.com/"><!--<img src="images/weborderlogo.png" alt=""/>-->
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="200px" height="50px" viewBox="0 0 158 19" style="enable-background:new 0 0 158 19;" xml:space="preserve">
<style type="text/css">
	.st0{fill:#D12B37;}
	.st1{fill:#20374A;}
	.st2{fill-rule:evenodd;clip-rule:evenodd;fill:#20374A;}
</style>
<g>
	<g>
		<polygon class="st0" points="99.3,10.2 99.3,14.3 97.2,14.3 97.2,4.6 104.2,4.6 104.2,6.3 99.3,6.3 99.3,8.5 103.6,8.5 
			103.6,10.2 99.3,10.2 		"/>
		<path class="st0" d="M108.5,12.9c1.2,0,1.7-0.7,1.7-2.2c0-1.5-0.6-2.2-1.7-2.2c-1.2,0-1.7,0.7-1.7,2.2
			C106.8,12.2,107.4,12.9,108.5,12.9L108.5,12.9z M108.5,14.5c-0.6,0-1.1-0.1-1.6-0.3c-0.5-0.2-0.8-0.4-1.2-0.8
			c-0.3-0.3-0.6-0.7-0.7-1.2c-0.2-0.5-0.3-1-0.3-1.5c0-0.6,0.1-1.1,0.3-1.6c0.2-0.5,0.4-0.9,0.7-1.2c0.3-0.3,0.7-0.6,1.2-0.8
			c0.5-0.2,1-0.3,1.5-0.3c0.6,0,1.1,0.1,1.5,0.3c0.4,0.2,0.8,0.4,1.2,0.8c0.3,0.3,0.6,0.7,0.7,1.2c0.2,0.5,0.3,1,0.3,1.6
			c0,0.6-0.1,1.1-0.3,1.6c-0.2,0.5-0.4,0.9-0.7,1.2c-0.3,0.3-0.7,0.6-1.2,0.8C109.6,14.4,109.1,14.5,108.5,14.5L108.5,14.5z"/>
		<path class="st0" d="M112.8,14.3V7.1h1.8V8c0.2-0.2,0.3-0.4,0.5-0.6c0.2-0.1,0.3-0.2,0.5-0.3c0.2-0.1,0.4-0.1,0.6-0.1
			c0.2,0,0.4,0,0.6,0h0.2v2c-0.2,0-0.4,0-0.5,0c-1.2,0-1.7,0.6-1.7,1.7v3.8H112.8L112.8,14.3z"/>
		<polygon class="st0" points="122.1,14.3 120.5,11.1 119.6,12 119.6,14.3 117.7,14.3 117.7,4.5 119.6,4.5 119.6,9.9 121.9,7.1 
			124.3,7.1 121.9,9.8 124.2,14.3 122.1,14.3 		"/>
		<path class="st1" d="M127.7,12.9c1.2,0,1.7-0.7,1.7-2.2c0-1.5-0.6-2.2-1.7-2.2c-1.2,0-1.7,0.7-1.7,2.2
			C125.9,12.2,126.5,12.9,127.7,12.9L127.7,12.9z M127.7,14.5c-0.6,0-1.1-0.1-1.6-0.3c-0.5-0.2-0.8-0.4-1.2-0.8
			c-0.3-0.3-0.6-0.7-0.7-1.2s-0.3-1-0.3-1.5c0-0.6,0.1-1.1,0.3-1.6c0.2-0.5,0.4-0.9,0.7-1.2c0.3-0.3,0.7-0.6,1.2-0.8
			c0.5-0.2,1-0.3,1.5-0.3c0.6,0,1.1,0.1,1.5,0.3c0.4,0.2,0.8,0.4,1.1,0.8c0.3,0.3,0.6,0.7,0.7,1.2c0.2,0.5,0.3,1,0.3,1.6
			c0,0.6-0.1,1.1-0.3,1.6c-0.2,0.5-0.4,0.9-0.7,1.2c-0.3,0.3-0.7,0.6-1.2,0.8C128.7,14.4,128.2,14.5,127.7,14.5L127.7,14.5z"/>
		<path class="st1" d="M136.6,14.3v-1c-0.5,0.8-1.2,1.2-2.2,1.2c-0.4,0-0.7-0.1-1-0.2c-0.3-0.1-0.6-0.3-0.8-0.5
			c-0.2-0.2-0.4-0.5-0.5-0.8c-0.1-0.3-0.2-0.7-0.2-1.1V7.1h1.9v4.5c0,0.9,0.4,1.3,1.2,1.3c0.5,0,0.9-0.2,1.1-0.5
			c0.3-0.3,0.4-0.7,0.4-1.2V7.1h1.9v7.2H136.6L136.6,14.3z"/>
		<path class="st1" d="M139.1,14.3V7.1h1.8V8c0.2-0.2,0.3-0.4,0.5-0.6c0.2-0.1,0.3-0.2,0.5-0.3c0.2-0.1,0.4-0.1,0.6-0.1
			c0.2,0,0.4,0,0.6,0h0.3v2c-0.2,0-0.4,0-0.5,0c-1.2,0-1.7,0.6-1.7,1.7v3.8H139.1L139.1,14.3z"/>
		<path class="st1" d="M148.5,9.3c0-0.3-0.2-0.6-0.4-0.7c-0.2-0.2-0.5-0.2-0.9-0.2c-0.4,0-0.7,0-0.9,0.1C146.1,8.6,146,8.7,146,9
			c0,0.2,0.1,0.4,0.3,0.5c0.2,0.1,0.5,0.2,0.9,0.3c0.6,0.2,1.2,0.3,1.6,0.4c0.4,0.1,0.8,0.3,1,0.4c0.3,0.2,0.4,0.4,0.6,0.6
			c0.1,0.2,0.2,0.6,0.2,1c0,0.6-0.3,1.2-0.8,1.6c-0.5,0.4-1.3,0.6-2.4,0.6c-0.5,0-1-0.1-1.4-0.2c-0.4-0.1-0.8-0.3-1.1-0.5
			c-0.3-0.2-0.5-0.5-0.7-0.8c-0.2-0.3-0.2-0.7-0.3-1h2c0,0.3,0.1,0.6,0.4,0.8c0.3,0.2,0.6,0.3,1.1,0.3c0.4,0,0.7-0.1,0.9-0.2
			c0.3-0.1,0.4-0.3,0.4-0.5c0-0.3-0.1-0.5-0.3-0.6c-0.2-0.1-0.5-0.2-0.9-0.3c-0.7-0.2-1.3-0.3-1.7-0.5c-0.4-0.2-0.8-0.4-1-0.6
			c-0.2-0.2-0.4-0.4-0.5-0.7c-0.1-0.2-0.1-0.5-0.1-0.8c0-0.3,0.1-0.5,0.2-0.8c0.1-0.2,0.3-0.5,0.5-0.6c0.2-0.2,0.6-0.3,1-0.5
			c0.4-0.1,0.9-0.2,1.4-0.2c1,0,1.8,0.2,2.3,0.6c0.5,0.4,0.7,1,0.8,1.7H148.5L148.5,9.3z"/>
		<path class="st1" d="M156,10c0-0.3-0.1-0.5-0.1-0.7c-0.1-0.2-0.2-0.4-0.3-0.5c-0.1-0.1-0.3-0.2-0.5-0.3c-0.2-0.1-0.4-0.1-0.5-0.1
			c-0.4,0-0.7,0.1-1,0.4c-0.3,0.3-0.4,0.7-0.5,1.2H156L156,10z M153,11.2c0,0.5,0.2,1,0.5,1.3c0.3,0.3,0.7,0.5,1.1,0.5
			c0.3,0,0.6-0.1,0.8-0.2c0.2-0.1,0.4-0.3,0.5-0.6h2c-0.2,0.7-0.6,1.3-1.2,1.7c-0.6,0.4-1.2,0.6-2,0.6c-2.4,0-3.6-1.3-3.6-3.9
			c0-0.6,0.1-1.1,0.2-1.5c0.2-0.4,0.4-0.8,0.7-1.2c0.3-0.3,0.7-0.6,1.1-0.7c0.4-0.2,0.9-0.3,1.5-0.3c1.1,0,2,0.4,2.5,1.1
			c0.6,0.7,0.9,1.8,0.9,3.2H153L153,11.2z"/>
		<path class="st0" d="M78.9,0.2c3.5,0,7,0,10.5,0c0.2,0,0.5,0.1,0.6,0.3c0.2,0.2,0.3,0.4,0.3,0.6v4.9h-1.7V1.9c-3,0-5.9,0-8.9,0
			v4.1H78V1.1c0-0.3,0.1-0.5,0.3-0.6C78.4,0.3,78.6,0.2,78.9,0.2L78.9,0.2z"/>
		<path class="st0" d="M78.9,18.8h4.5v-1.7h-3.7v-2.9c0.6-0.3,1.1-1,1.1-1.7V9.6l-0.6-0.5v3.3h-0.9V9.6l-0.8-0.5v3.3h-0.9V9.6
			l-0.6-0.5v3.4c0,0.8,0.4,1.4,1.1,1.7v3.7c0,0.3,0.1,0.5,0.3,0.6C78.4,18.7,78.6,18.8,78.9,18.8L78.9,18.8z"/>
		<path class="st1" d="M89.4,18.8h-4.5v-1.7h3.7v-2.4h-0.8v-2.9c0-1.6,0.6-2.7,2-2.7h0.4v4.4v1.2v3.2c0,0.3-0.1,0.5-0.3,0.6
			C89.9,18.7,89.6,18.8,89.4,18.8L89.4,18.8z"/>
		<path class="st2" d="M84.1,13.5c0.6,0,1,0.5,1,1s-0.5,1-1,1c-0.6,0-1-0.5-1-1S83.5,13.5,84.1,13.5L84.1,13.5z"/>
	</g>
	<g>
		<path class="st0" d="M0.7,13.5V6.1h3.2c0.4,0,0.7,0.1,1,0.2c0.3,0.1,0.6,0.3,0.8,0.6C5.8,7.1,6,7.4,6.1,7.7s0.2,0.6,0.2,0.9
			c0,0.3-0.1,0.6-0.2,0.9s-0.3,0.6-0.5,0.8s-0.5,0.4-0.7,0.6c-0.3,0.1-0.6,0.2-1,0.2H2.4v2.4H0.7z M2.4,9.6h1.4
			c0.2,0,0.4-0.1,0.5-0.3c0.1-0.2,0.2-0.4,0.2-0.8c0-0.2,0-0.3-0.1-0.5c0-0.1-0.1-0.2-0.2-0.3C4.2,7.8,4.2,7.7,4.1,7.7
			C4,7.6,3.9,7.6,3.8,7.6H2.4V9.6z"/>
		<path class="st0" d="M10.5,13.6c-0.6,0-1.1-0.1-1.5-0.3c-0.5-0.2-0.8-0.5-1.2-0.9c-0.3-0.4-0.6-0.8-0.7-1.2s-0.3-0.9-0.3-1.4
			c0-0.5,0.1-1,0.3-1.4c0.2-0.5,0.4-0.9,0.8-1.2S8.6,6.6,9,6.4S10,6,10.5,6c0.6,0,1.1,0.1,1.5,0.3c0.5,0.2,0.8,0.5,1.2,0.9
			s0.6,0.8,0.7,1.2c0.2,0.5,0.3,0.9,0.3,1.4c0,0.5-0.1,1-0.3,1.4s-0.4,0.9-0.8,1.2s-0.7,0.6-1.2,0.8C11.5,13.5,11,13.6,10.5,13.6z
			 M8.6,9.8c0,0.3,0,0.6,0.1,0.8c0.1,0.3,0.2,0.5,0.4,0.7c0.2,0.2,0.4,0.4,0.6,0.5c0.2,0.1,0.5,0.2,0.8,0.2c0.3,0,0.6-0.1,0.9-0.2
			s0.4-0.3,0.6-0.5s0.3-0.5,0.4-0.7c0.1-0.3,0.1-0.5,0.1-0.8c0-0.3,0-0.6-0.1-0.8c-0.1-0.3-0.2-0.5-0.4-0.7
			c-0.2-0.2-0.4-0.4-0.6-0.5c-0.2-0.1-0.5-0.2-0.8-0.2c-0.3,0-0.6,0.1-0.9,0.2S9.2,8.1,9,8.3S8.8,8.7,8.7,9C8.6,9.3,8.6,9.5,8.6,9.8
			z"/>
		<path class="st0" d="M17.4,6.1H19l0.8,2.4l0.8-2.4h1.6l-1.2,3.5l0.8,2l1.9-5.5h1.9l-3,7.4h-1.4l-1.2-2.9l-1.2,2.9h-1.4l-3-7.4H16
			l1.9,5.5l0.7-2L17.4,6.1z"/>
		<path class="st0" d="M31.2,12v1.5H26V6.1h5.1v1.5h-3.4V9h2.9v1.4h-2.9V12H31.2z"/>
		<path class="st0" d="M32.2,13.5V6.1h3.4c0.3,0,0.7,0.1,1,0.2c0.3,0.1,0.6,0.3,0.8,0.6c0.2,0.2,0.4,0.5,0.5,0.8S38,8.3,38,8.6
			c0,0.2,0,0.5-0.1,0.7c-0.1,0.2-0.1,0.4-0.2,0.6c-0.1,0.2-0.2,0.4-0.4,0.5c-0.1,0.2-0.3,0.3-0.5,0.4l1.6,2.8h-1.9l-1.4-2.4H34v2.4
			H32.2z M34,9.6h1.6c0.2,0,0.4-0.1,0.5-0.3c0.1-0.2,0.2-0.4,0.2-0.7c0-0.3-0.1-0.6-0.3-0.7c-0.2-0.2-0.3-0.3-0.5-0.3H34V9.6z"/>
		<path class="st0" d="M44.5,12v1.5h-5.2V6.1h5.1v1.5H41V9h2.9v1.4H41V12H44.5z"/>
		<path class="st0" d="M45.5,13.5V6.1h2.8c0.6,0,1.2,0.1,1.6,0.3c0.5,0.2,0.8,0.5,1.2,0.8c0.3,0.3,0.5,0.7,0.7,1.2S52,9.3,52,9.8
			c0,0.6-0.1,1.1-0.3,1.5c-0.2,0.5-0.4,0.8-0.7,1.2c-0.3,0.3-0.7,0.6-1.2,0.8c-0.5,0.2-1,0.3-1.5,0.3H45.5z M50.3,9.8
			c0-0.3,0-0.6-0.1-0.9c-0.1-0.3-0.2-0.5-0.4-0.7c-0.2-0.2-0.4-0.3-0.6-0.5c-0.2-0.1-0.5-0.2-0.8-0.2h-1.1V12h1.1
			c0.3,0,0.6-0.1,0.8-0.2s0.4-0.3,0.6-0.5c0.2-0.2,0.3-0.4,0.4-0.7S50.3,10.1,50.3,9.8z"/>
		<path class="st0" d="M61.6,11.6c0,0.3-0.1,0.6-0.2,0.8c-0.1,0.2-0.3,0.4-0.5,0.6s-0.5,0.3-0.8,0.4c-0.3,0.1-0.6,0.1-1,0.1h-3.6
			V6.1h4.1c0.3,0,0.5,0.1,0.7,0.2c0.2,0.1,0.4,0.3,0.5,0.4c0.1,0.2,0.3,0.4,0.3,0.6c0.1,0.2,0.1,0.5,0.1,0.7c0,0.4-0.1,0.7-0.3,1
			c-0.2,0.3-0.4,0.6-0.8,0.7c0.4,0.1,0.8,0.3,1,0.7C61.5,10.7,61.6,11.1,61.6,11.6z M57.2,7.6v1.5h1.7c0.2,0,0.4-0.1,0.5-0.2
			c0.1-0.1,0.2-0.3,0.2-0.6c0-0.2-0.1-0.4-0.2-0.6c-0.1-0.1-0.3-0.2-0.5-0.2H57.2z M59.9,11.3c0-0.2-0.1-0.4-0.2-0.6
			c-0.1-0.2-0.3-0.2-0.5-0.2h-2v1.6h1.9c0.2,0,0.4-0.1,0.6-0.2C59.8,11.7,59.9,11.5,59.9,11.3z"/>
		<path class="st0" d="M63.5,6.1l1.6,3.4l1.6-3.4h1.9L65.9,11v2.5h-1.7V11l-2.6-4.9H63.5z"/>
		<path class="st0" d="M69,9.8V8.1h1.4v1.7H69z M69,13.5v-1.7h1.4v1.7H69z"/>
	</g>
</g>
</svg>
</a>
        </div>
        
        <div class="col-md-7 col-sm-8 col-xs-8 text-right login colorred"  ng-hide="member_id">
        <a href="javascript:" ng-click="login()"><i class="fa fa-user"></i> Login</a>
        </div>
        
        <div class="col-md-7 col-sm-8 col-xs-8 text-right login colorred"  ng-show="member_id">
        <span class="session-header__greet">Hi, {{name}}&nbsp;&nbsp;</span>
        <a href="javascript:" ng-click="logout()"><i class="fa fa-user"></i> Log Out</a>
        </div>
    
    
    </div>
    <!-- HEADER END-->
    
<div class="clearfix"></div>
    
    
    <!-- LIST START -->
    <ul class="accordianmenu" id="">
    <!-- ---------Choose Location Area ---------------- -->
        <li class="" id="">
             <div class="acoordian-head active"  ng-click="removeRes()" id="ch_loc">
                <span class="fa fa-map-marker"></span>
                 <span ng-if="title" class="acchead" ng-model="title">
                      {{title}}
                 </span>
                 <span ng-if="!title" class="acchead" ng-model="title">
                      Choose Location
                 </span>
                <span class=" pull-right"><a href="javascript:"><i class="fa fa-pencil"></i></a></span>
            </div>
            <!-- CONTENT -->
            <div class="contentholder">
            <div class="accordion_pane-menu">
            <ul id="div_res_list" class="accordion_pane-menu" ng-hide="title" >
                <li  ng-repeat="list in restaurantList" ng-click="selectRes(list.restaurant_name,list.location_id,list.city)">
                <a href="javascript:">{{list.restaurant_name}} - {{list.city}}<br>
                <span>{{list.address}}, {{list.city}} {{list.state}} {{list.zip_code}}</span></a>
                </li>
                
            </ul>
            
            
            </div>
            </div>
            <!-- END CONTENT --> 
        
             <div class="clearfix"></div>
        </li>
     <!-- --------- END OF Choose Location Area ---------------- -->

     
 
     
     
<li class="" id="">
    <div class="acoordian-head" ng-click="removeOrderType()" id="pic_del">
        <span class="fa fa-cutlery"></span>
          <span ng-if="orderType" class="acchead" ng-model="orderType">
          {{orderType}}
          </span>
          <span ng-if="!orderType" class="acchead" ng-model="orderType">
          Pickup / Delivery
          </span>
         <span class=" pull-right"><a href="javascript:"><i class="fa fa-pencil"></i></a></span>
    </div>
<!-- CONTENT -->


    <div id="div_orderTime" class="contentholder"  style="display:none;">
    <div class="accordion_pane-menu">
    <ul class="accordion_pane-menu" ng-hide="orderType" >
    	<li ng-click="selectOrderType('Pickup')" ng-if="orderType1 == 'Pickup' || orderType1 == 'Delivery - Pickup'">
            <a href="javascript:">Pickup <br>
            <span>Pickup your order at the <strong>{{city}}</strong> location.</span></a>
        </li>
        <li ng-click="selectOrderType('Delivery')" ng-if="orderType1 == 'Delivery' || orderType1 == 'Delivery - Pickup'">
            <a href="javascript:">Delivery <br>
            <span>Enter address and select a time for delivery.</span></a>
        </li>  
        
      
            
    </ul>
    
    
    
<div id="div_delivery" class="col-md-10 col-md-offset-1" style=" margin-bottom:40px;" ng-show="orderTypeDelivery" style="display:none"><br />
   <h4>Delivery Address</h4>
<form ng-submit="saveDeliveryAddress()">
  <div class="form-group">    
    <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"  type="text" class="form-control inputtxt" id="exampleInputEmail1" placeholder="Street Address" ng-model="delivery.address" required>
  </div>
  
  <div class="form-group">
          <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"  type="text" id="" class="form-control inputtxt" ng-model="delivery.appartment" placeholder="Apartment" name="appartment">
  </div>
  
  <div class="form-group">    
    <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"  type="text" id="" class=" form-control inputtxt" ng-model="delivery.instruction" placeholder="Delivery Instructions" name="street address 2">
  </div>
  
  <div class="form-group row">
  
  <div class="form-group col-md-4">
    <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"  type="text" id="" class=" form-control inputtxt" placeholder="City" ng-model="delivery.city" name="city" required>  
  </div>
  
  <div class="form-group col-md-4">
    <select id="" class="form-control inputselect"  ng-model="delivery.state"  name="state" required>
      <option value="">State</option>
      <option class="ember-view" value="AL">AL</option>
      <option  value="AK">AK</option>
      <option  value="AS">AS</option>
      <option  value="AZ">AZ</option>
      <option  value="AR">AR</option>
      <option  value="CA">CA</option>
      <option  value="CO">CO</option>
      <option  value="CT">CT</option>
      <option  value="DC">DC</option>
      <option  value="DE">DE</option>
      <option  value="FL">FL</option>
      <option  value="GA">GA</option>
      <option  value="GU">GU</option>
      <option  value="HI">HI</option>
      <option  value="ID">ID</option>
      <option  value="IL">IL</option>
      <option  value="IN">IN</option>
      <option  value="IA">IA</option>
      <option  value="KS">KS</option>
      <option  value="KY">KY</option>
      <option  value="LA">LA</option>
      <option  value="ME">ME</option>
      <option  value="MD">MD</option>
      <option  value="MA">MA</option>
      <option  value="MI">MI</option>
      <option  value="MN">MN</option>
      <option  value="MO">MO</option>
      <option  value="MP">MP</option>
      <option  value="MS">MS</option>
      <option  value="MT">MT</option>
      <option  value="NE">NE</option>
      <option  value="NV">NV</option>
      <option  value="NH">NH</option>
      <option  value="NJ">NJ</option>
      <option  value="NM">NM</option>
      <option  value="NY">NY</option>
      <option  value="NC">NC</option>
      <option  value="ND">ND</option>
      <option  value="OH">OH</option>
      <option  value="OK">OK</option>
      <option  value="OR">OR</option>
      <option  value="PA">PA</option>
      <option  value="RI">RI</option>
      <option  value="SC">SC</option>
      <option  value="SD">SD</option>
      <option  value="TN">TN</option>
      <option  value="TX">TX</option>
      <option  value="UM">UM</option>
      <option  value="UT">UT</option>
      <option  value="VT">VT</option>
      <option  value="VA">VA</option>
      <option  value="VI">VI</option>
      <option  value="WA">WA</option>
      <option  value="WV">WV</option>
      <option  value="WI">WI</option>
      <option  value="WY">WY</option>
    </select>  
  
</div>

  <div class="form-group col-md-4">
	<input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"  type="text" id="ember3842" class="inputtxt col-md-4  form-control" ng-model="delivery.zip"  placeholder="Zip" name="zip" required>  
  </div>  
  
   
  </div>
  <hr>
  <div id="ember3837" class="ember-view alert alert--error" ng-show="errormsg">{{errormsg}}</div>
  
  
  <div id="spinner" class="ember-view spinner-overlay is-transparent is-hidden">
  <div class="spinner spinner spinner--absolute"></div>
  </div>
    
  <div class="row">
 <div class="col-md-6 form-group"><a class="btn btn-default btn-sm btn-block" ng-click="removeOrderType()">Cancel</a></div>
 <div class="col-md-6 form-group">
 <button type="submit" class="btn btn-primary btn-sm btn-block" data-ember-action="2508">Next</button></div>
 </div>
 
 
 
</form>
    </div>
    </div>
    </div>
    <!-- END CONTENT -->
	</li>
    
 
<li class="" id="">
<div class="acoordian-head" id="div_time_sel" style="display:none;">
  	<span class="fa fa-clock-o"></span>
  	<span ng-if="orderType=='Pickup'" class="" ng-model="orderTimeTitle">
      	 {{fullDay}} @ {{orderTimeTitle}}
      </span>
      <span ng-if="orderType=='Delivery'" class="" ng-model="orderTimeTitle">
      	{{fullDay}} @ {{orderTimeTitle}}
      </span>
      <a href="javascript:" class="pull-right"ng-click="selectOrderTime('Later')" style="font-size:16px;"><i class="fa fa-chevron-left"></i>Change Time</a>
      
</div>


    <div class="contentholder">
    
  
<div class="accordion__pane-body" id="chooseTime_div"  style="display:none;">
			
            <h2 class="subhead" style="margin-left: 24px;" >
            Choose a Date &amp; Time 
            <a class="pull-right" ng-click="removeOrderTime()" style="margin-right: 24px;"  href="javascript:"><i class="fa fa-chevron-left"></i> Back</a>
            </h2>
            
   <nav>
      <ul>
      <li class="" ng-repeat="(key, value) in laterDates[0]" ng-click="selectLaterDate(key,value)">
                        <a href="javascript:">
                                {{key}}
                             <br>
                            {{value}}
                        </a>
                    </li>
        
      </ul>
    </nav>




    <div class="scrolldiv" id="div_orderTimeLater" style="display:none">
        <ul class="timewrap">
            <!--<li><a href="#"> 8:15 am <span class="pull-right"><i class="fa fa-check"></i> Pick Up</span></a></li>-->
            <li ng-show="resClosed" style=" text-align: center;">Closed</li>
            <li class="" ng-repeat="timeAr in timeArray.time"  id="{{$index}}">
            <a href="javascript:" ng-hide="timeAr.showfull" ng-click="showConfirm(timeAr)" >{{timeAr.start}} </a>
            <a ng-show="timeAr.showfull"  href="javascript:"  ng-click="selectLaterOrderTime(timeAr)" class="btn btn-success btn-block btnconfirm" >
                    Confirm {{timeAr.start}} 
            </a>
            </li>
           
            
        </ul>
    </div>
</div>

    <!-- CALANDER -->
    <!-- CALANDER END -->
    </div>
    <!-- END CONTENT -->
</li>

<li id="orderTypeContifm" class=""  style="display:none;">
<div class="" style="height: 629px;">
  
     <div class="row" style="padding:10px;">
     <div class="col-md-12">
     <a ng-click="confirmMenu()" class="btn btn-primary btn-sm btn-block">Confirm and View Menu</a>
     </div>
   
  </div>
</div>
</li>



</ul>
    <!-- LIST END -->
</div>








<!-- ---------header area login/ogout ---------------- -->
<!-- ---------Choose Location Area ---------------- -->
<!-- ---------Choose method Pickup/Delivery area ---------------- -->
<!-- ---------choose Order Now/Later area ---------------- -->
<!-- /.modal -->

 
<div class="modal" id="resclosed" data-backdrop="static"  data-keyboard="false" style=" max-width:450px;z-index:111111;overflow-y:hidden;" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="">
      <div class="modal-content">
       <div class="modal-header">
         
         <h4 class="modal-title" id="myModalLabel">Sorry... restaurant is closed.</h4>
       </div>
       <div class="modal__body" style="margin-left:13px;">
          <p>We open our doors <br /> <b>{{fullDay}} @ {{orderTime}}</b></p>
          <p style="font-size:12px;">We are placing your order for the Opening Time.<br />
You can select a different time by clicking Change Time Button.</p>
             
          </p>
          <p align="right" style="margin-right:13px;">
          <button type="button" class="btn btn-block" ng-click="closepop()" style="width:20%; padding: 12px; margin-left:0px;" data-dismiss="modal" >OK</button>
          
          </p>
       </div>
       
    
    </div>
   </div>
 </div>
